*{
    font-family:Arial, Helvetica, sans-serif;
}

/*////////Exercici 5////////*/

.container{
    background-color: pink;
}

.article{
    width: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: small;
    margin-bottom: 7px;
}

.a1{
    background-image: url("../img/img1.jpg");
}

.a3{
    background-image: url("../img/caballito.png");
    background-image: url("../img/img2.jpg");
}
.a4{
    background-image: url("../img/img3.jpg");
}








