/*//////////////////Exercici 4///////////////*/


a{
    background-image: url("../img/flecha_inactiva.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    padding-left: 30px;
    text-decoration: none;
    border: 1px solid black;
    
}
