/*/////////////EXERCICI 5////////////////////*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    float: left;
    padding: 40px;
}

input {
    border: 1px solid rgb(197, 197, 196);
    border-radius: 3px;
    color: midnightblue;
}

label {
    font-size: small;
}

.cajasenlinea{
    display: inline-block;
    margin: 10px;
}