body{
    background-color: burlywood;
}



.inline{
    /*només capta el paddig i margin laterals*/
    background-color: white;
    padding-left: 30px;
    margin-right: 1px;
    border: 1px solid black;
    display: inline;
}

.block{
    background-color: white;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: block;
}

.inline-block{
    background-color: white;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}